.card-icons
{
	margin-left: 8px;
}

.display
{
	display: grid;
	justify-items: center;
	grid-template-columns: auto auto auto auto;
	row-gap: 20px;
	padding: 20px 30px;

}
.display-body
{
	border: 2px solid lightgray;

  margin-right: 10px;
	align-items: center;

}

.detailField{
	text-align: center;
	width: 300px;
}

.emp-card
{
	background-color: lightgrey;
	cursor: pointer;
	margin: 5px 10px;
	width: 254px;
}
.emp-card-body
{
	align-items: center;
	column-gap: 15px;
	font-size: 13px;
	padding: 10px 10px;
}
.emp-det
{
	align-items: center;
	column-gap: 10px;
	flex-direction: column;
	justify-content: center;
	margin-top: 10px;
	text-align: center;
}
.emp-image
{
	flex-grow: 0.5;
}
.emp-image>img
{
	height: 100px;
	margin: 5px 0;
	width: 70px;
}
.emp-text
{
	flex-grow: 1;
  line-break: anywhere;
}
.emp-text>p
{
	font-size: 11px;
	margin: 5px;
}

.modal-img
{
	border: 2px solid rgba(128, 128, 128, 0.418);
	height: 200px;
	width: 200px;
}



#edit,#save{
  border-radius: 0;
}

@media only screen and (min-width:2135px)
{
	.display{
		grid-template-columns: auto auto auto auto auto auto;
	}

}

@media only screen and (max-width:1527px){
	.display{
		grid-template-columns: auto  auto auto ;
	}

}

@media only screen and (max-width:937px)
{
	.display{
		grid-template-columns: auto auto;
	}
}

@media only screen and (max-width:657px)
{
	.display{
		grid-template-columns: auto;
	}
}
