@import "../navbar/navbar.component.scss";

.filter-body
{
	margin: 20px 15px;
}
.filter-btn
{
	display: block;
	font-size: 13px;
	margin-top: 5px;
	width: max-content;
	padding-left: 0;
}

.view-more{
  text-decoration: none;
}










